rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // DEVELOPMENT ONLY
      // Allows reads/writes for local testing or emulators
      allow read, write: if request.time < timestamp.date(2030, 1, 1);
    }
  }
}
